{% extends "base.html" %}
{%block title%}Любимая математика{%endblock%}
{% block content %}
<h1>Каталог заданий по ЕГЭ - Математика</h1>
<div class="btn-group" width="100">
  <div class="dropdown" >
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    01. Геометрия на плоскости (планиметрия)
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="task1"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
   
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    07. Преобразование числовых и буквенных выражений
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
</div>
<br>
<br>
<div class="btn-group">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    02. Задачи на векторы
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
   
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    08. Взаимосвязь функции и ее производной
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
</div>
<br>
<br>
<div class="btn-group">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    03. Геометрия в пространстве (стереометрия)
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
   
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    09. Задачи прикладного характера
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
</div>
<br>
<br>
<div class="btn-group">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    04. Введение в теорию вероятностей
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="task4"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
   
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    10. Сюжетные текстовые задачи
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="task10"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
</div>
<br>
<br>
<div class="btn-group">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    05. Задачи на теорию вероятностей
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="task5"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
   
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    11. Задачи на свойства графиков функций
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
</div>
<br>
<br>
<div class="btn-group">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    06. Решение уравнений
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
   
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    12. Исследование функций с помощью производной
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Задания</font-family></font-family></a></button></li>
    <li><button class="dropdown-item" type="button"><a class="me-4 py-3 link-body-emphasis text-decoration-none" href="#"><font-family style="vertical-align: inherit;"><font-family style="vertical-align: inherit;">Теория</font-family></font-family></a></button></li>
  </ul>
  </div>
</div>

{% endblock %}