<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Авторизация/Регистрация</title>
  
  
  
      <link rel="stylesheet" href="static/style_for_sign.css">

  
</head>

<body>
  <body>
<form>
  <input checked="" id="signin" name="action" type="radio" value="signin">
  <label for="signin">ВОЙТИ</label>
  <input id="signup" name="action" type="radio" value="signup">
  <label for="signup">ЗАРЕГИСТРИРОВАТЬСЯ</label>
  <div id="wrapper">
    <div id="arrow"></div>
    <input id="email" placeholder="Электронная почта" type="text">
    <input id="pass" placeholder="Пароль" type="password">
    <input id="repass" placeholder="Повторите пароль" type="password">
  </div>
  <button type="submit">
    <span>
      <br>
      Войти
      <br>
      Зарегистрироваться
    </span>
  </button>
  Забыли пароль? <a href="#" class="link-secondary">кликните сюда</a></p>
</form>

<script type="text/javascript">

</script>

  </body>
  
  
</body>
</html>
