{% extends "base.html" %}
{%block title%}Профиль пользователя{%endblock%}
{% block content %}
    <img src="images/photouser.jpg" />
     логин пользователя
    <h2>Статистика правильно выполненных заданий:
        <h3>Геометрия на плоскости: </h3>
        <h3>Задачи на векторы:</h3>
        <h3>Геометрия в пространстве:</h3>
        <h3>Введение в теорию вероятностей:</h3>
        <h3>Задачи на теорию вероятностей:</h3>
        <h3>Решение уравнений:</h3>
        <h3>Преобразование числовых и буквенных выражений:</h3>
        <h3>Взаимосвязь функции и ее производной:</h3>
        <h3>Задачи прикладного характера:</h3>
        <h3>Сюжетные текстовые задачи:</h3>
        <h3>Задачи на свойства графиков функций:</h3>
        <h3>Исследование функций с помощью производной:</h3>
    </h2>
{% endblock %}